/**
 *   ~~~ Background images ~~~
 */
#id-in-het-kort
{
    background-image: url("../images/schoolkinderen.jpg");
}
#id-visie
{
    background-image: url("../images/visie.jpg");
}
#id-economie-handel
{
    background-image: url("../images/economie-handel.jpg");
}
#id-informatica
{
    background-image: url("../images/informatica.jpg");
}
#id-mode-creatie
{
    background-image: url("../images/mode-creatie.jpg");
}
#id-humane
{
    background-image: url("../images/jaarthema-2016-2017.png");
}
#id-eerste-graad
{
    background-image: url("../images/schoolkinderen.jpg");
}
#id-tweede-graad
{
    background-image: url("../images/economie-handel.jpg");
}
#id-derde-graad
{
    background-image: url("../images/informatica.jpg");
}
#id-7BSO
{
    background-image: url("../images/informatica.jpg");
}
#id-se-n-se
{
    background-image: url("../images/mode-creatie.jpg");
}
#id-inschrijven
{
    background-image: url("../images/schoolkinderen.jpg");
}
#id-lestijden
{
    background-image: url("../images/economie-handel.jpg");
}
#id-jaarkalender
{
    background-image: url("../images/informatica.jpg");
}
#id-schoolreglement
{
    background-image: url("../images/mode-creatie.jpg");
}
#id-contact
{
    background-image: url("../images/jaarthema-2016-2017.png");
}
#id-SEA
{
    background-image: url("../images/antwerpen.jpg");
}
#id-SMD
{
    background-image: url("../images/sancta-maria.jpg");
}
#id-SED
{
    background-image: url("../images/deurne.jpg");
}
