/**
 *   --- Base Layout ---
 */
html
{
    overflow-x: hidden;

    width: 100%;
}
main
{
    margin-top: calc(#{$line-height} * 4);
}
.landing-page main
{
    margin-top: 0;
}
.container
{
    padding-bottom: 66.6667vh;

    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
/**
 *   --- Grid ---
 */
.flex-container
{
    display: flex;

    flex-wrap: wrap;
}
.col
{
    box-sizing: border-box;
}
.col--1-1
{
    flex: 0 1 calc(100% - 1.62rem);
}
.col--1-2
{
    flex: 0 1 calc(50% - 1.62rem);
}
.col--1-3
{
    flex: 0 1 calc(33.24% - 1.62rem);
}
.col--2-3
{
    flex: 0 1 calc(66.6667% - 1.62rem);
}
.col--1-4
{
    flex: 0 1 calc(25% - 1.62rem);
}
.col--3-4
{
    flex: 0 1 calc(75% - 1.62rem);
}

/**
*   --- text columns ---
*/
.flex-container--text
{
    overflow-x: hidden;

    margin-right: calc(calc(#{$line-height} + 1.5px) * -3); // make the right-most border dissapear
}
.col--text
{
    padding: 0 calc(#{$line-height} * 3) 0 $line-height;

    border-right: 2px solid $scheppers-blauw--trans;
}
.col--text.col--1-1
{
    border-right: none;
}
