/**
*   ~~~ NORMALIZE ~~~
*
* In order to remove browser inconsistencies, we use normalise.scss which is a
* port of normalize.css.
*/
/* variables for normalize.scss */
$base-font-size: 18px;
/* slightly larger fonts */
$base-line-height: 29.124px;
$base-unit: rem;
$base-font-family: "Open Sans", Verdana, "Helvetia Neue", Helvetia, Arial, sans-serif;
$h1-font-size: 3.998 * $base-font-size;
$h2-font-size: 2.827 * $base-font-size;
$h3-font-size: 1.618 * $base-font-size;
$h4-font-size: 1.414 * $base-font-size;
$h5-font-size: 1 * $base-font-size;
$h6-font-size: .707 * $base-font-size;
$indent-amount: 2.618rem;
$normalize-vertical-rhythm: true;
@import "../../bower_components/normalize-scss/sass/_normalize";
@include normalize();
