figure
{
    margin: 0;
}

.blog-article figure
{
    max-width: calc(50% - 1rem);
}
.blog-article figure:nth-of-type(odd)
{
    float: left;

    margin-right: 1rem;
}
.blog-article figure:nth-of-type(even)
{
    float: right;

    margin-left: 1rem;
}
.blog-article__footer
{
    clear: both;

    margin-top: 3rem;
    padding-top: 1rem;

    border-top: 1px dashed $scheppers-blauw;
}
