/**
*    ~~~ Cards ~~~
*/
.card
{
    margin: 0 1.62rem 1.62rem 0;
    padding: .81rem;

    background-color: $scheppers-geel-wit;

    @include rounded();
    @include shadow(1);
}
.card__title
{
    font-size: $font-size-s;
    font-weight: 600;
    line-height: 1.62rem;

    margin: 0;

    color: $scheppers-blauw;
}
.card--action-card
{
    position: relative;

    padding-bottom: 2.5rem;
}
.card__action,
.card__action:hover,
a.card__action
{
    font-size: $font-size-s;
    line-height: 1.62rem;

    position: absolute;
    right: .81rem;
    bottom: .81rem;

    display: inline-block;
    clear: both;

    padding: .405em .81em;

    text-decoration: none;

    color: $text-color-white;
    border: none;
    background-color: $scheppers-blauw;

    @include rounded();
    @include shadow(1);
}
.card__action:hover
{
    cursor: pointer;
}
