/**
*   ~~~ Footer ~~~
*/
.page-footer
{
    color: $text-color-white;
    background-color: $scheppers-blauw;

    @include rounded();
    @include shadow(1);
}
.page-footer strong
{
    color: $text-color-white;
}
.page-footer__content
{
    font-weight: 300;
    font-style: normal;

    padding: 1.62rem;

    flex: 0 1 25%;
}
.page-footer__content a,
.page-footer__disclaimer a
{
    color: $text-color-white;
    text-decoration: underline;
}
.page-footer__disclaimer
{
    font-weight: 300;
    font-style: normal;
    text-align: right;

    padding: 1.62rem;
}
