/**
*    ~~~ Modals ~~~
*/
#curtain
{
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;

    background-color: $scheppers-blauw--trans;
}
.modal
{
    display: none;
}
.modal-view
{
    position: fixed;
    z-index: 1000;
    top: 8vh;
    left: 8vw;

    overflow-x: hidden;
    overflow-y: scroll;

    width: 84vw;
    max-height: 84vh;
    margin: 0 auto;
    padding: $line-height-half;

    background-color: $scheppers-geel-wit;

    @include rounded();
    @include shadow(2);
}
.modal-view::before
{
    font-weight: 600;

    display: block;
    float: right;

    content: "X";

    color: $scheppers-blauw;
}
.modal-view::after
{
    font-size: 1rem;
    line-height: 1.62rem;

    float: right;

    padding: .405em .81em;

    content: "Sluiten";

    color: $text-color-white;
    background-color: $scheppers-blauw;

    @include rounded();
    @include shadow(1);
}
