/**
 *   ~~~ Header & Navigation Bar ~~~
 */
.site-header
{
    font-weight: 300;

    position: fixed;
    z-index: 100;
    top: 0;

    width: 100%;
    margin: 0;
    padding: 0;

    background-color: $accent-color--soft;

    @include shadow(1);
}
.site-header__logo
{
    top: 0;

    float: left;

    height: calc(#{$line-height} * 2);

    color: $text-color-white;
}
.site-header__logo a
{
    color: $text-color-white;
}
.site-header__logo a:hover,
.site-header__logo a:active
{
    text-decoration: none;
}
.site-header__logo__image
{
    display: inline-block;

    height: calc(#{$line-height} * 1.5);
    margin: calc(#{$line-height} / 4) $line-height-half;

    vertical-align: middle;
}
.site-header__logo__text
{
    display: inline-block;

    padding: $line-height-half 0;

    @media(max-width: 1175px)
    {
        // so we can break at a smaller size
        display: none;
    }
}
.nav-bar--primary
{
    background-color: $scheppers-blauw;
}
.nav-bar--secondary
{
    padding-right: calc(#{$line-height} * 2); // compensate for the icon at the right of the primary nav-bar
}
.nav-bar ul
{
    height: calc(#{$line-height} * 2); // each nav-bar has a height of 2 standard line-heights (on a standard screen approx 36px)
    margin: 0 $line-height;

    text-align: right;
}
.nav-bar__item
{
    display: inline-block;

    width: calc(#{$line-height} * 5); // fits for the content up till now
    height: calc(#{$line-height} * 2); // need to put it here as well to prevent rounding errors
    padding: 0 $line-height-half;

    vertical-align: middle;
}
.nav-bar__item-link,
.nav-bar__item-link:visited
{
    display: inline-block;

    width: 100%;
    padding: $line-height-half;

    text-align: center;

    color: $text-color-white;
}
.nav-bar__item-link:hover,
.nav-bar__item-link:active
{
    text-decoration: none;

    color: $scheppers-blauw-wit;
}
.nav-bar__item-link--active
{
    font-weight: bold;
}
.nav-bar__item-link--active,
.nav-bar__item-link--active:visited,
.nav-bar--secondary .nav-bar__item-link,
.nav-bar--secondary .nav-bar__item-link:visited
{
    opacity: 1;
    color: $scheppers-blauw;
    background-color: $accent-color--soft;
}
.nav-bar__item--icon
{
    width: $line-height;
}
