/**
*   ~~~ Page Sections ~~~
*/
.page-section
{
    padding: calc(#{$line-height} * 2);

    background-color: $scheppers-blauw-wit--trans;

    @include shadow(1);
}
.page-section__content__header
{
    padding-bottom: $line-height;
}
.page-section__content
{
    overflow: hidden;

    width: 60rem;
    max-width: 100%;
    margin: 0 auto;
    padding: $line-height;

    background-color: $scheppers-geel-wit;

    @include rounded();
    @include shadow(1);
}
