.nav-panel
{
    position: fixed;
    top: calc(#{$line-height} * 2);
    left: -40%;

    width: 40%;
    height: 100vh;

    transition: .3s ease left;
    background-color: $scheppers-blauw--trans;
}
.nav-panel--visible
{
    left: 0;
}
.nav-panel__item
{
    list-style-type: none;
}

.nav-panel__item .nav-panel__item-link
{
    color: $text-color-white;
    text-decoration: none
}
.nav-panel__item .nav-panel__item-link:hover
{
    color:$scheppers-blauw-wit;
}
.nav-panel__item .nav-panel__item-link:active
{
    color:$scheppers-blauw;
    background-color: $accent-color--soft
}


@media screen and (min-width:1200px)
{
    .nav-bar__item--lg-hide,
    .site-header__logo,
    .nav-panel
    {
        display: none;
    }
}
@media screen and (max-width:1200px)
{
    .nav-bar__item:not(.nav-bar__item--lg-hide),
    .nav-bar.nav-bar--secondary
    {
        display: none;
    }
    .nav-bar__item.nav-bar__item--sm-show,
    .site-header__logo
    {
        display: inline-block;
    }
}



// #nav-button
// {
//     color: #ffed42;
//     border-color: #2a6bb0;
//     background-color: #2a6bb0;
// }
// #site-wrapper
// {
//     position: relative;
//
//     overflow: hidden;
//
//     width: 100%;
//     height: 800px; /* Temp: Simulates a tall page. */
// }
// #site-canvas
// {
//     position: relative;
//
//     width: 100%;
//     height: 100%;
//     /*
//     padding: 5% 0; /* Temp: Just spacing.
//     */
//
//     -webkit-transition: .3s ease all;
//             transition: .3s ease all;
//     -webkit-transform: translateX(0);
//             transform: translateX(0);
// }
// #site-menu
// {
//     position: absolute;
//     top: 0;
//     left: -300px;
//
//     width: 300px;
//     height: 100%;
//     padding: 15px;
//
//     background-color: #2a6bb0;
// }
// #site-wrapper.show-nav #site-canvas
// {
//     -webkit-transform: translateX(300px);
//             transform: translateX(300px);
// }
