<article class="col col--text col--1-1">
    <h2 class="article_title">
        <a href="<perch:blog id="postURL" type="hidden" />" rel="bookmark" class="p-name">
        <perch:blog id="postTitle" label="title" type="smarttext" />
    </a>
    </h2>
    <perch:blog id="postDescHTML" type="textarea" label="Article text" editor="redactor" html="true" size="xxl autowidth" required="true" />
    <perch:blog id="is-album" type="checkbox" value="true" label="Is album?" suppressed="true" divider-before="Photo Album" />
    <perch:blocks>
        <perch:block type="album__image" label="Album image">
            <figure class="album__image">
                <img src='<perch:blog id="album_image" type="image" width="400" label="Image" />' alt='<perch:blog id="alt" type="text" label="alt" />'>
                <figcaption>
                    <perch:blog id="caption" type="smarttext" label="Caption" />
                </figcaption>
            </figure>
        </perch:block>
    </perch:blocks>
    <div class="article-footer">
        <p>
            Gepubliceerd op: <time class="dt-published" datetime='<perch:blog id="postDateTime" type="date" label="Date" time="true" format="Y-m-d H:i:s" divider-before="Publishing" />'> <perch:blog id="postDateTime" type="date" time="true" format="%d %B %Y"
            /></time><br> In categorieën:
            <perch:categories id="categories" set="blog" label="Categories" display-as="checkboxes">
                <a href='archive.php?cat=<perch:category id="catSlug" type="slug" />' class="p-category">
                    <perch:category id="catTitle" type="text" />
                </a>
            </perch:categories>
            <perch:blog id="pinned" type="checkbox" label="Pinned" value="yes" suppress="true" />
        </p>

    </div>
</article>
