<article class="col col--text col--1-1">
    <h2 class="article_title">
        <a href="<perch:blog id="postURL" type="hidden" />" rel="bookmark" class="p-name">
        <perch:blog id="postTitle" label="Title" type="smarttext" required="true" />
    </a>
    </h2>
    <perch:blog id="slug" type="slug" for="heading" editable="true" label="URL name (no spaces!)" suppress="true" help="If empty, this is created automatically. No two articles can have the same date and URL name!" />
    <perch:blog id="postDescHTML" type="textarea" label="Article text" editor="redactor" html="true" size="xxl autowidth" editor-config="blog" image-width="1200" />
    <perch:blog id="excerpt" type="textarea" label="Excerpt (text only)" help="If this is empty, the first 25 words of the article text will be used." size="s" />
    <perch:blog id="bgImage" type="image" label="Background image" width="1600" suppress="true" help="This image will be used as background image on the article page. If this is empty, the default will be used (jaarthema)." />
    <perch:blog id="thumbImage" type="image" label="Thumbnail image" width="240" suppress="true" help="This image is used in the excerpt/listing view of the article." />
    <perch:blog id="is-album" type="checkbox" value="true" label="Is album?" suppressed="true" help="Check this if the article is an album instead of a 'normal' blog post. To add images to the album, click '+ Album image' below." divider-before="Photo Album"
    />
    <perch:blocks>
        <perch:block type="album__image" label="Album image">
            <figure class="album__image">
                <img src='<perch:blog id="album_image" type="image" width="1200" label="Image" />' alt='<perch:blog id="alt" type="text" label="Title" help="This is the text for the alt attribute in the code (what you see when you hover over the image or if it cannot load)."/>'>
                <figcaption>
                    <perch:blog id="caption" type="smarttext" label="Caption" help="Descriptive text to show underneath the image." />
                </figcaption>
            </figure>
        </perch:block>
    </perch:blocks>
    <div class="article-footer">
        <p>
            Gepubliceerd op: <time class="dt-published" datetime='<perch:blog id="postDateTime" type="date" label="Date" time="true" format="Y-m-d H:i:s" divider-before="Publishing" />'> <perch:blog id="postDateTime" type="date" time="true" format="%d %B %Y"
            /></time><br> In categorieën:
            <perch:categories id="categories" set="blog" label="Categories" display-as="checkboxes" />
            <a href='archive.php?cat=<perch:category id="catSlug" type="slug" />' class="p-category">
                <perch:category id="catTitle" type="text" />
            </a>
            </perch:categories>
            <perch:blog id="pinned" type="checkbox" label="Pinned" value="yes" suppress="true" />
            <perch:blog id="pinned-order" type="text" label="Pinned order" help="A number. Pinned articles will be sorted by number in ascending order." suppress="true" />
        </p>

    </div>
</article>
