/**
*   ~~~ Colors ~~~
*/
$scheppers-blauw: #2a6bb0;
$scheppers-blauw--trans: rgba(42, 107, 176, .87);
$scheppers-blauw-wit: #dce6f2; // last step of 5 steps to white
$scheppers-blauw-zwart: #1c4775; // middle step of 5 steps to black
$scheppers-blauw-wit--trans: rgba(220, 230, 242, .88);

$accent-color: #ffed42;
$accent-color--soft: #fff381; // 2nd step of 5 steps to white
$scheppers-geel-wit: #fffcdf; // last step of 5 steps to white

$text-color-black: rgba(0,0,0,.87);
$text-color-white: rgba(255,255,255,.95);
