/**
 *   ~~~ Breakpoints ~~~
 */
$laptop: 1050px;


/**
 *   ~~~ Measures & Sizes ~~~
 */
$line-height: 1.6180rem;
$line-height-half: .8090rem;

$line-height--em: 1.6180em;
$line-height-half--em: .8090em;

// $font-size-small: .707em;

/**
 *   ~~~ font sizes ~~~
 */

$font-size-xs: .707rem;
$font-size-s: 1rem;
$font-size-m: 1.414rem;
$font-size-l: 1.618rem;
$font-size-xl: 2.827rem;
$font-size-xxl: 3.998rem;
